
##########################################################
# EDIT THIS FILE TO CONFIGURE POPINS2 BEFORE COMPILATION #
##########################################################

# Paths to binaries of external tools
SAMTOOLS := samtools
BWA := bwa
SICKLE := sickle
VELVETH := velveth
VELVETG := velvetg
MINIA := external/gatb-minia-pipeline/gatb

##########################################################

